/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #252526;
    overflow: auto;
}

/* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color: #D5E5F2;
    text-decoration: none;
    font-size: 17px;
    width: 22%;
    text-align: center;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
    background-color: #4CAF50;
}

#bannerimg {
    width: 100%;
    height: auto;
}

.border {
    background-color: #252526;
    width: 100%
}

#animation1 {
    
}